*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: antiquewhite;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {

  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.todos-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.list {
  list-style-type: none;
  margin: 2rem 0rem;
}

.listitem {
  padding: 10px 0px;

}

.field {
  display: flex;
  flex-direction: column;
}

.field>#title {
  width: 200px;
  height: 60px;
  height: 30px;
  width: 300px;
}

.field:first-of-type {
  margin-bottom: 1rem;
}

textarea {
  width: 300px;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.button-container {
  margin-top: 2rem;

}

.submit {
  width: 140px;
  height: 40px;
  border-radius: 2px;
}